In [1]:
import pandas as pd
import numpy as np

In [2]:
years = ['2021', '2022']
months = ['01', '02', '03', '04', '05', '06']
main_df = pd.DataFrame()

def appendData(main):
    for year in years:
        for month in months:
            #print(month)
            if (year == '2021' and month != '01') or (year == '2022'):
                filepath = f'data/JC-{year}{month}-citibike-tripdata.csv'
                df = pd.read_csv(filepath, low_memory=False)
                df = df.sample(frac=0.015, random_state=42)
                main = main.append(df)
            else:
                filepath = f'data/JC-{year}{month}-citibike-tripdata.csv'
                df = pd.read_csv(filepath, low_memory=False)
                df = df.sample(frac=0.015, random_state=42)
                df_pd = pd.DataFrame()
                df_pd = df_pd.append(df)
                df_pd_clean = df_pd[['starttime', 'stoptime', 'start station id', 'start station name', 'start station latitude',\
                                    'start station longitude', 'end station id', 'end station name', 'end station latitude',\
                                    'end station longitude', 'usertype']]
                df_pd_clean.columns = ['started_at', 'ended_at', 'start_station_id', 'start_station_name', 'start_lat',\
                                    'start_lng', 'end_station_id', 'end_station_name', 'end_lat',\
                                    'end_lng', 'member_casual']
                df_pd_clean = df_pd_clean[['started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', \
                                           'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']]
                df_pd_clean = df_pd_clean.reset_index(drop=True)
                df_pd_clean.loc[df_pd_clean['member_casual'] == 'Subscriber', 'member_casual'] = 'member'
                df_pd_clean.loc[df_pd_clean['member_casual'] == 'Customer', 'member_casual'] = 'casual'
                df_pd_clean.insert(0, 'rideable_type', 'docked_bike')
                df_pd_clean.insert(0, 'ride_id', range(1, 1 + len(df_pd_clean)))
                main = df_pd_clean
                print(main.head())
    return main  

main_df = appendData(main_df)
main_df = main_df.reset_index(drop=True)

   ride_id rideable_type                started_at                  ended_at  \
0        1   docked_bike  2021-01-14 13:53:55.9490  2021-01-14 13:57:34.4120
1        2   docked_bike  2021-01-14 15:56:36.4580  2021-01-14 16:07:33.8780
2        3   docked_bike  2021-01-01 14:04:35.0480  2021-01-01 15:09:40.7150
3        4   docked_bike  2021-01-07 08:23:49.0000  2021-01-07 08:29:22.9510
4        5   docked_bike  2021-01-03 18:31:09.4670  2021-01-03 18:39:03.7210

  start_station_name  start_station_id   end_station_name  end_station_id  \
0         Newark Ave              3211  JC Medical Center            3205
1        Astor Place              3280      Grove St PATH            3186
2      Hamilton Park              3203            York St            3481
3      Hamilton Park              3203       Manila & 1st            3273
4         Harborside              3639         Harborside            3639

   start_lat  start_lng    end_lat    end_lng member_casual
0  40.721525 -74.046305  40.716540 -74.049638        member
1  40.719282 -74.071262  40.719586 -74.043117        member
2  40.727596 -74.044247  40.716490 -74.041050        member
3  40.727596 -74.044247  40.721651 -74.042884        member
4  40.719252 -74.034234  40.719252 -74.034234        member

In [3]:
main_df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [4]:
main_df.to_csv("2021_citibike_rides_sample.csv", index=False)

In [5]:
main_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,1,docked_bike,2021-01-14 13:53:55.9490,2021-01-14 13:57:34.4120,Newark Ave,3211,JC Medical Center,3205,40.721525,-74.046305,40.716540,-74.049638,member
1,2,docked_bike,2021-01-14 15:56:36.4580,2021-01-14 16:07:33.8780,Astor Place,3280,Grove St PATH,3186,40.719282,-74.071262,40.719586,-74.043117,member
2,3,docked_bike,2021-01-01 14:04:35.0480,2021-01-01 15:09:40.7150,Hamilton Park,3203,York St,3481,40.727596,-74.044247,40.716490,-74.041050,member
3,4,docked_bike,2021-01-07 08:23:49.0000,2021-01-07 08:29:22.9510,Hamilton Park,3203,Manila & 1st,3273,40.727596,-74.044247,40.721651,-74.042884,member
4,5,docked_bike,2021-01-03 18:31:09.4670,2021-01-03 18:39:03.7210,Harborside,3639,Harborside,3639,40.719252,-74.034234,40.719252,-74.034234,member

In [6]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7958 entries, 0 to 7957
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             7958 non-null   object
 1   rideable_type       7958 non-null   object
 2   started_at          7958 non-null   object
 3   ended_at            7958 non-null   object
 4   start_station_name  7958 non-null   object
 5   start_station_id    7958 non-null   object
 6   end_station_name    7927 non-null   object
 7   end_station_id      7927 non-null   object
 8   start_lat           7958 non-null   float64
 9   start_lng           7958 non-null   float64
 10  end_lat             7934 non-null   float64
 11  end_lng             7934 non-null   float64
 12  member_casual       7958 non-null   object
dtypes: float64(4), object(9)
memory usage: 808.4+ KB